<mat-toolbar class="toolbar">
  <button class="toolbar__icon-button" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <div class="toolbar__logo-title-group" fxLayout fxLayoutAlign="center center">
    <a routerLink="/" fxLayout>
      <img class="toolbar__logo" src="/assets/logo.svg" alt="Auction Logo">
    </a>
    <a routerLink="/" class="toolbar__title">Auction App</a>
  </div>
  <div fxFlex></div>
  <button mat-icon-button  class="toolbar__icon-button toolbar__shopping-cart-button">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>


